<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marat.smarthouse">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/welcome">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/action_register"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".NoHome" />
        <activity
            android:name=".Rooms"
            android:label="@string/app_name" />
        <activity
            android:name=".Devices"
            android:label="Устройства" />
        <activity
            android:name=".Lamp"
            android:label="Лампа" />
        <activity
            android:name=".RoomAdd"
            android:label="Новая комната" />
        <activity
            android:name=".RoomChange"
            android:label="Изменить комнату" />
        <activity
            android:name=".DeviceAdd"
            android:label="Добавить устройство" />
        <activity
            android:name=".DeviceChange"
            android:label="Изменить устройство" />
        <activity android:name=".Temperature"
            android:label="Температура"></activity>
    </application>

</manifest>