<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marat.smarthouse">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:roundIcon="@drawable/home"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="SmartHouse"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/action_register"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".NoHome" android:screenOrientation="portrait"/>
        <activity
            android:name=".Rooms"
            android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
            android:name=".Devices"
            android:label="Устройства" android:screenOrientation="portrait"/>
        <activity
            android:name=".RoomAdd"
            android:label="Новая комната" android:screenOrientation="portrait"/>
        <activity
            android:name=".RoomChange"
            android:label="Изменить комнату" android:screenOrientation="portrait"/>
        <activity
            android:name=".DeviceAdd"
            android:label="Добавить устройство" android:screenOrientation="portrait"/>
        <activity
            android:name=".DeviceChange"
            android:label="Изменить устройство" android:screenOrientation="portrait"/>
        <activity
            android:name=".Temperature"
            android:label="Температура" android:screenOrientation="portrait"/>
        <activity android:name=".RGB"
            android:label="RGB панель" android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>